<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.myapp.dao.DeliverDao">
  <resultMap id="BaseResultMap" type="cn.myapp.model.Deliver">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="brand" jdbcType="VARCHAR" property="brand" />
    <result column="model" jdbcType="VARCHAR" property="model" />
    <result column="date" jdbcType="TIMESTAMP" property="date" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="count" jdbcType="INTEGER" property="count" />
    </resultMap>
    
    <resultMap id="TPResultMap" type="cn.myapp.model.Jsdata">
     <result column="month" jdbcType="INTEGER" property="month" />
    <result column="money" jdbcType="DOUBLE" property="money" />
    
   
  </resultMap>
  <sql id="Base_Column_List">
    id, brand, model, date, price ,count
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from deliver
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectLastDeliverDate" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from deliver 
    where brand = #{brand,jdbcType=VARCHAR} and model = #{model,jdbcType=VARCHAR} order by date DESC limit 1
  </select>
  
  <select id="selectDeliverRecord" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from deliver 
     order by date DESC limit 7
  </select>
  
<!--   获取所有出库信息  数量 -->
   <select id="selectAllDeliverRecord" parameterType="cn.myapp.model.Page" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from deliver 
     order by date DESC limit #{pageOffset},#{pageSize}
  </select>
  <select id="selectAllDeliverRecordCount" parameterType="cn.myapp.model.Page" resultType="java.lang.Integer">
    select 
    count(*)
    from deliver 
     order by date DESC 
  </select>
  
 <!--  获取指定type出库信息 数量 -->
  <select id="selectThisTypeDeliverRecord" parameterType="cn.myapp.model.Page" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from (SELECT d.* ,p.type FROM deliver as d LEFT JOIN product as p ON d.brand = p.brand and d.model= p.model)t
  	where type = #{type,jdbcType=VARCHAR}
  	order by date DESC limit #{pageOffset},#{pageSize}
  </select>
  <select id="selectThisTypeDeliverRecordCount" parameterType="cn.myapp.model.Page" resultType="java.lang.Integer">
  	select
  	count(*)
  	from (SELECT d.* ,p.type FROM deliver as d LEFT JOIN product as p ON d.brand = p.brand and d.model= p.model)t
  	where type = #{type,jdbcType=VARCHAR}
  	order by date DESC
  </select>
  
  
<!--   当月出库数 -->
  <select id="selectThisMonthDeliverCount"  resultType="java.lang.Integer">
    select sum(count)
    from deliver
    where DATE_FORMAT( date, '%Y%m' ) = DATE_FORMAT( CURDATE( ) , '%Y%m' )
  </select>
  
<!--   当月销售金额 -->
  <select id="selectThisMonthDeliverPrice"  resultType="java.lang.Double">
    select ifnull(SUM(p),0) from (select price*count as p from deliver
  
    where DATE_FORMAT( date, '%Y%m' ) = DATE_FORMAT( CURDATE( ) , '%Y%m' ))t
  </select>
  
<!--   当月盈利金额 -->
  <select id="selectThisMonthProfit"  resultType="java.lang.Double">
     SELECT ifnull(SUM(s),0) FROM (SELECT (d.price-s.price)*d.count as s FROM price as s RIGHT JOIN  deliver as d 
     ON s.brand =d.brand AND s.model=d.model
     where DATE_FORMAT( d.date, '%Y%m' ) = DATE_FORMAT( CURDATE( ) , '%Y%m' ))t
  </select>
  
  <!-- 查找 -->
  <select id="searchDeliverRecord"  parameterType="cn.myapp.model.Page" resultMap="BaseResultMap">
    select   
    <include refid="Base_Column_List" />
    from deliver where brand like CONCAT(CONCAT('%',#{brand}),'%') or model like CONCAT(CONCAT('%',#{model}),'%') limit #{pageOffset},#{pageSize}
  </select>
  <select id="searchDeliverRecordByModel"  parameterType="cn.myapp.model.Page"  resultMap="BaseResultMap">
    select   
    <include refid="Base_Column_List" />
    from deliver where model like CONCAT(CONCAT('%',#{model}),'%') limit #{pageOffset},#{pageSize}
  </select>
  <select id="searchDeliverRecordByBrand" parameterType="cn.myapp.model.Page" resultMap="BaseResultMap">
    select   
    <include refid="Base_Column_List" />
    from deliver where brand like CONCAT(CONCAT('%',#{brand}),'%') limit #{pageOffset},#{pageSize}
  </select>
  
  
  <!-- 查找记录数量 -->
  <select id="searchDeliverRecordCount" parameterType="cn.myapp.model.Page" resultType="java.lang.Integer">
    select   
    count(*)
    from deliver where brand like CONCAT(CONCAT('%',#{brand}),'%') or model like CONCAT(CONCAT('%',#{model}),'%')
  </select>
  <select id="searchDeliverRecordByModelCount"  parameterType="cn.myapp.model.Page"  resultType="java.lang.Integer">
    select   
    count(*)
    from deliver where model like CONCAT(CONCAT('%',#{model}),'%')
  </select>
  <select id="searchDeliverRecordByBrandCount" parameterType="cn.myapp.model.Page" resultType="java.lang.Integer">
    select   
    count(*)
    from deliver where brand like CONCAT(CONCAT('%',#{brand}),'%')
  </select>
  
  <!-- 获取一年中的月份 销售金额 -->
  <select id="selectMonthSalesMoney"  resultMap="TPResultMap">
    select   
    month(d.date) 'month',sum(p.price*d.count) 'money' from deliver as d,price as p
    where d.brand = p.brand and d.model = p.model
    group by month(date)
    
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from deliver
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.myapp.model.Deliver">
    insert into deliver (id, brand, model, 
      date, price, count
      )
    values (#{id,jdbcType=INTEGER}, #{brand,jdbcType=VARCHAR}, #{model,jdbcType=VARCHAR}, 
      #{date,jdbcType=TIMESTAMP}, #{price,jdbcType=DOUBLE},#{count,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.myapp.model.Deliver">
    insert into deliver
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="brand != null">
        brand,
      </if>
      <if test="model != null">
        model,
      </if>
      <if test="date != null">
        date,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="count != null">
        count,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="brand != null">
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="model != null">
        #{model,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="price != null">
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="count != null">
        #{count,jdbcType=DOUBLE},
      </if>
      
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.myapp.model.Deliver">
    update deliver
    <set>
      <if test="brand != null">
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="model != null">
        model = #{model,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        date = #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DOUBLE},
      </if>
       <if test="count != null">
        count = #{count,jdbcType=DOUBLE},
      </if>
      
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.myapp.model.Deliver">
    update deliver
    set brand = #{brand,jdbcType=VARCHAR},
      model = #{model,jdbcType=VARCHAR},
      date = #{date,jdbcType=TIMESTAMP},
      price = #{price,jdbcType=DOUBLE},
      count = #{count,jdbcType=INTEGER},
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>