<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.myapp.dao.StoreDao">
  <resultMap id="BaseResultMap" type="cn.myapp.model.Store">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="brand" jdbcType="VARCHAR" property="brand" />
    <result column="model" jdbcType="VARCHAR" property="model" />
    <result column="date" jdbcType="TIMESTAMP" property="date" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    
  </resultMap>
  <sql id="Base_Column_List">
    id, brand, model, date, price, count, type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from store
    where id = #{id,jdbcType=INTEGER}
  </select>
  
   <select id="selectLastStoreDate"  resultMap="BaseResultMap">
    select date
    from store 
    where brand = #{brand,jdbcType=VARCHAR} and model = #{model,jdbcType=VARCHAR}
  </select>
  

    <select id="selectThisMonthStoreCount"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from store
    where DATE_FORMAT( date, '%Y%m' ) = DATE_FORMAT( CURDATE( ) , '%Y%m' )
  </select>
  
  <select id="selectAllStoreRecord"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from store order by date DESC
  </select>
  <select id="selectThisTypeStoreRecord" parameterType="java.lang.String" resultMap="BaseResultMap">
   select 
      <include refid="Base_Column_List" />
     from store where type = #{type,jdbcType=VARCHAR} order by date DESC
  </select>
  <select id="searchStoreRecord"  resultMap="BaseResultMap">
    select   
    <include refid="Base_Column_List" />
    from store where brand like CONCAT(CONCAT('%',#{brand}),'%') or model like CONCAT(CONCAT('%',#{model}),'%')
  </select>
  <select id="searchStoreRecordByModel"  resultMap="BaseResultMap">
    select   
    <include refid="Base_Column_List" />
    from store where model like CONCAT(CONCAT('%',#{model}),'%')
  </select>
  <select id="searchStoreRecordByBrand"  resultMap="BaseResultMap">
   select   
    <include refid="Base_Column_List" />
    from store where brand like CONCAT(CONCAT('%',#{brand}),'%')
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from store
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.myapp.model.Store">
    insert into store (id, brand, model, 
      date, price, count
      )
    values (#{id,jdbcType=INTEGER}, #{brand,jdbcType=VARCHAR}, #{model,jdbcType=VARCHAR}, 
      #{date,jdbcType=TIMESTAMP}, #{price,jdbcType=DOUBLE}, #{count,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.myapp.model.Store">
    insert into store
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="brand != null">
        brand,
      </if>
      <if test="model != null">
        model,
      </if>
      <if test="date != null">
        date,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="count != null">
        count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="brand != null">
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="model != null">
        #{model,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="price != null">
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="count != null">
        #{count,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.myapp.model.Store">
    update store
    <set>
      <if test="brand != null">
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="model != null">
        model = #{model,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        date = #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="count != null">
        count = #{count,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.myapp.model.Store">
    update store
    set brand = #{brand,jdbcType=VARCHAR},
      model = #{model,jdbcType=VARCHAR},
      date = #{date,jdbcType=TIMESTAMP},
      price = #{price,jdbcType=DOUBLE},
      count = #{count,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>